services:
  app:
    build:
      context: .
      dockerfile: ./cmd/Dockerfile
    container_name: app
    ports:
      - "8080:8080"
    networks:
      - app-network
    volumes:
      - ./logs:/app/logs

networks:
  app-network: