services:
  app:
    build:
      context: .
      dockerfile: ./cmd/Dockerfile
    container_name: app
    ports:
      - "8080:8080"
    volumes:
      - ./logs:/app/logs
      - ./trace/results_after_profiling:/app/trace/results_after_profiling
